<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <h1 class="text-3xl tracking-tighter mb-3">Create User</h1>
      <form action="/create" method="post">
        <input
          class="py-5 px-3 bg-transparent border-2 border-zinc-800 rounded-lg outline-none"
          type="text"
          placeholder="name"
          name="name"
        />
        <input
          class="py-5 px-3 bg-transparent border-2 border-zinc-800 rounded-lg outline-none"
          type="text"
          placeholder="email"
          name="email"
        />
        <input
          class="py-5 px-3 bg-transparent border-2 border-zinc-800 rounded-lg outline-none"
          type="text"
          placeholder="img Url"
          name="image"
        />
        <input
          class="py-5 px-3 bg-blue-500 rounded-lg"
          type="submit"
          value="Create User"
        />
      </form>
    </div>
  </body>
</html>
