<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Hola Amigo !!</h2>
    <h3><%= 12 +7 %></h3>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
